<div class="if">
    {% if maaraykset is notBlank %}
        <div class="maaraykset sisennys">
            {% for maarays in maaraykset %}
                {% for nIndex in 0..10 %}
                    {% set sOppilaitoMaarays = maarays.meta | fieldvalue(avain + "-" + nIndex) %}
                    {% if sOppilaitoMaarays is notBlank  %}
                        <div class="data loop {{ maarays | htmlClass }}">
                            {{ sOppilaitoMaarays }}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
    {% endif %}
</div>